*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #222;
}
.card{
    width: 90%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    padding: 40px 30px;
    margin: 100px auto 0px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    max-width: 470px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    padding: 10px 25px;
    border-radius: 25px;
    background: #ebfffc;
    border: none;
    height: 60px;
    margin-right: 16px;
    font-size: 18px;
    outline: 0;
    flex: 1;
    box-shadow: 2px -4px 8px 1px black;
}
.search button{
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    box-shadow: 2px -4px 8px 1px black;
}
.search button img{
    width: 30px;
}
.search button img:active{
    width: 25px;
}
.search button:active{
    width: 55px;
    height: 55px;
}
.search input:active{
    width: 3em;
    height: 3em;
}
.search input{
    width: 3em;
    height: 3em;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.temp{
    font-size: 80px;
    font-weight: 500;
}
.temp, .city, .humidity, .wind-speed{
    text-shadow: 0px 6px 3px black;
}
.city{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity{
    font-size: 28px;
    margin-top: -6px;
}
.wind-speed{
    font-size: 28px;
}
.error{
    width: 200px;
    margin-left: -30px;
    padding: 10px;
    display: none;
}
.weather{
    display: none;
    margin-top: -20px;
}